.footer {
  height: 700px;
}

.block5 {
  text-align: center;
  /* margin-top: 200px; */
  padding-top: 200px;
}

a {
  text-decoration: none;
  color: white;
  /* background: red; */
  margin-left: 5px;
}

#footer {
  background: rgb(27, 27, 27);
  height: 950px;
}

.hr {
  margin-top: 40px;
  width: 1000px;
  height: 1px;
  margin-left: 150px;
  background: white;
}
.block6 img {
  width: 160px;
  height: 45px;
}
.block6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.text7 {
  color: white;
  text-align: center;
  margin-top: 100px;
}
.text7 button {
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: solid white 2px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.entimg {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}

.entimg img {
  height: 150px;
  background: red;
}
